#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.container {
  width: 80vw;
  height: 60vh;
  display: flex;
  justify-content: center;
  gap: 12rem;
  font-size: 2rem;
  align-items: center;
}

.tower {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;
}

.tower:hover {
  cursor: pointer
}

.tower:hover .line {
  background-color: red;
}

.tower .line {
  height: 12rem;
  width: 5px;
  background-color: white;
}

.tower.selected .line {
  background-color: yellow;
}

.discs {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
}

.disc {
  z-index: 1;
  height: 1rem;
  background-color: #234099;
}